.header{
    width: 100%;
    height: 5.2rem;
    background-color: #b9b6b6;
    padding: 1.5rem 2.6875rem;
}
.header h1{
    color: #03346E;
}
.nav{
    width: 100%;
    /* background-color: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.nav h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.8125rem;
    color: var(--hover-button-color);
    
    &:hover{
        color: white;
    }
  
    
}
.navUl h1 span{
    color: #03346E;
    font-size: 48px;
}
.navUl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    

}
.header .navUl li{
    font-size: .835rem;
    font-weight: 600;
    line-height: 1.6875rem;
    letter-spacing: .0563rem;
    color: #03346E;
  
    &:hover{
        color: #2f2e2e;
        text-decoration: 2px #03346E underline  ;
    }
  
}

.menu{
    display: none;
}

@media (max-width: 768px){
    .navUl{
        display: none;
    }
    .menu{
        display: block; 
    
} 
.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.25rem;
    left: 0;
    width: 40%;
    height: 80vh;
    background-color: white;
    gap: 15px;
    padding: 0px 10px;
    color: black;
}
.close{
    position: absolute;
    top: 0;
    right: 10;
}
}





  