@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 --background-black : #b9b6b6;
  --logo-color: #6EACDA;
  --hover-button-color: #03346E;
  --bottomImgDiv-color: #5f5c5c;
  --background-light-gray: #404040;
}

html, body{
  overflow-x: hidden;
}

h1{
  font-size: 48px;
  text-align: center;
}
