.testimonials{
    width: 100%;
    background-color: var(--background-black);
    padding: 9.625rem 2.5rem 10rem 2.5rem;

}
.testimonials h1{
    margin-bottom: 6rem;
    font-weight: 600;


}
.testimonials h1 span{
    color: var(--hover-button-color);
    font-size: 2.5rem;
    font-weight: 600;
}

/* Embla  */
.embla {
    overflow: hidden;
  }
.embla__container{
    display: flex;
}

